name: CI
run-name: CI for ${{ github.sha }} on ${{ github.ref_name }}

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "rockcraft.yaml"
      - ".github/workflows/**.yaml"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    uses: canonical/identity-team/.github/workflows/_rock-build.yaml@f18247249f506f3c9210b86e43a2c4dd063088c5 # v1.8.7
    with:
      structure-tests-enabled: true
  gh-publish:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    uses: canonical/identity-team/.github/workflows/_rock-gh-publish.yaml@f18247249f506f3c9210b86e43a2c4dd063088c5 # v1.8.7
    with:
      rock: ${{ needs.build.outputs.rock }}
  oci-publish:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    uses: canonical/identity-team/.github/workflows/_rock-oci-publish.yaml@f18247249f506f3c9210b86e43a2c4dd063088c5 # v1.8.7
    with:
      edge-release: false
      eol-stable-release: "3 month"
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
  scan:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: gh-publish
    uses: canonical/identity-team/.github/workflows/_rock-scan.yaml@f18247249f506f3c9210b86e43a2c4dd063088c5 # v1.8.7
    with:
      image: ${{ needs.gh-publish.outputs.image }}
